body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; /* Windows: Segoe UI, Android: Roboto, macOS: Helvetica/Arial, any: sans-serif */
    background-color: #560319;
    color: white;
    margin: 0;                      /* distance between outside the border (Container) */
    padding: 2.5rem 1.25rem;        /* distance between Elements and border */
    display: flex;                  /* enables flex options */
    flex-direction: row;            /* How Cards are positioned */
    flex-wrap: wrap;                /* "Line breaks" vorher center*/
    justify-content: left;          /* Positions cards on the left side*/
    gap: 20px;                      /* Gaps between cards */
}

button {
    padding: 0px 8px;
    margin-right: 8px;
    border-width: 1px;
    border-radius: 4px;
    font-size: 110%;
}
